@font-face {
  font-family: "mozilla-font";
  src: url("../fonts/mozilla/mozilla-font.woff2") format("woff2"); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #333;
  color: black;
  font-family: 'mozilla-font';
  letter-spacing: 5%;
  margin-top: 5em;
  text-align: center;
}

button {
  background-color: black;
  border: 0.1em solid #000000;
  border-radius: 2em;
  color: #ffffff;
  cursor: pointer;
  font-family: 'mozilla-font';
  font-size: 1.5em;
  margin-bottom: 5em;
  padding: 0.8em 5%;
  text-decoration: none;
}

button:hover {
  background-color: #5d06b4;
  color: #000000;
}

a {
  color: #ffffff;
  font-size: 2em;
  margin-top: 2em;
  text-decoration: none;
  vertical-align: middle;
}
