@font-face {
  font-family: "mozilla-font";
  src: url("../fonts/mozilla/mozilla-font.woff2") format("woff2"); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
}

body{
    font-family: 'mozilla-font';
    text-align: center;
    color: black;
    background-color: #333;
    margin-top: 5em;
}

button {
    background-color: black;
    color: #ffffff;
    text-decoration: none;
    padding: 1em;
    border-radius: 2em;
    font-size: 1em;
    cursor: pointer;
    border: 0.1em solid #000000;
    margin-bottom: 5em;
}
button:hover {
    background-color: #5d06b4;
    color: #000000;
}

a {
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 2em;
    margin-top: 2em;
}
